<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<th:block th:include="admin/fragments/menu :: menu"></th:block>
<body>
<div class="container" style="margin-top: 25px;">

    <p class="text-center h1" >User modification</p>
    <form th:action="@{'/admin/user/' + ${user.id} + '/modify'}" th:object="${user}" method="POST" enctype="utf8">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <p th:each="error : ${#fields.globalErrors()}" th:text="${error}">Global Error</p>
            <label for="role" >Account Type</label>
            <select id="role" class="form-control" th:field="*{role}">
                <option th:each="role : ${T(lv.tsi.olegsbogdanovs.hardshop.persistanse.domain.Role).values()}" th:value="${role}" th:text="${role}">Segmentos</option>
            </select>
            <p class="form-text text-danger"
               th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
        </div>

        <div class="form-group">
            <p th:each="error : ${#fields.globalErrors()}" th:text="${error}">Global Error</p>
            <label for="inputName" th:text="#{label.user.firstName}">first</label>
            <input id="inputName" class="form-control" placeholder="Input first name" th:field="*{firstName}"/>
            <p class="form-text text-danger"
               th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label for="inputLastName" th:text="#{label.user.lastName}">last</label>
            <input id="inputLastName" class="form-control" placeholder="Input last name" th:field="*{lastName}"/>
            <p class="form-text text-danger"
               th:each="error : ${#fields.errors('lastName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label for="inputEmail" th:text="#{label.user.email}">last</label>
            <input id="inputEmail" class="form-control" placeholder="Input email" th:field="*{email}" disabled="true"/>
            <p class="form-text text-danger"
               th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error</p>
        </div>

        <button type="submit" style="margin-bottom: 25px;">Modify</button>
    </form>
</div>
</body>

</html>