<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Hardshop - Cart</title>
    <th:block th:include="storage/fragments/header :: header"/>
    <script>
        $(document).ready(function () {
            $('#item_table').DataTable();
        });
    </script>
</head>
<body>
<th:block th:include="shop/fragments/menu :: menu"/>
<div class="container" style="margin-top: 25px;">
    <p class="text-center h1">Cart</p>
    <table id="item_table" class="display" style="width: 100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cart.items}">
            <td th:text="${item.name}">Name</td>
            <td th:text="${item.desc}">Description</td>
            <td th:text="${item.price}">Price</td>
        </tr>
        </tbody>
    </table>
    <h3>Total:   <small class="text-muted" th:text="${cart.getItemTotalPrice()}">With faded secondary text</small>
    </h3>
    <form th:action="@{'/shop/cart/pay'}" method="post">
        <button type="submit" class="btn btn-success btn-sm">Buy</button>
    </form>
</div>
</body>
</html>